//Creating re-usable css snipets with mixins
@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

//Importing our static styling
@import "./abstract/variables";
@import "./base/global";

.App {
  min-height: 100vh;
  width: 100%;
  background: $main-color;
  color: $secondary-color;
  @include flex(column, flex-start, center);
}

//Importing our projects' styling
@import "./components/headline";
@import "./components/selectCity";
